body {
    margin: 0;
    padding: 0;
    background: url(img/lo.png) no-repeat;
    background-size: cover;
    height: 100wh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

footer {
        width: auto;
        color: white;
        background-color: #00062D;
        padding: 12px;
    }

h4 {
    color: black;
}
